.characters-list {
    display: flex;
    gap: 0.4em;
    align-items: center;
    justify-content: center;
    }
    .character-name {
    padding: 0.2em 0.6em;
    border-radius: 0.5em;
    border: 1px solid black;
}